@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

html {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-position: center;
}

img {
    box-shadow: 0 50px 30px black;
    margin-bottom: 20px;
    width: 850px;
}

.img-div {
    text-align: center;
    margin-bottom: 100px;
}

.text {
    text-align: center;
    margin: 40px;
}

.user-name {
    font-family: 'Cinzel', serif;
    font-size: 70px;
    color: rgb(138, 138, 138);
    border-bottom: 3px solid gray;
    margin: 100px 0 200px 0;
    padding-bottom: 40px;
}

.sm-text {
    font-family: 'Cinzel', serif;
    font-size: 50px;
    color: rgb(138, 138, 138);
    margin: 0 0 150px 0;
}